# ECLIPSE #
###########
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.orig
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# IntelliJ (and all other ideas)
.idea
*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# MAVEN #
#########
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
